<h2>Page Two</h2>

<!-- ko if: param -->
<p>
    <strong>Param:</strong> <span data-bind="text: param"></span>
</p>
<hr>
<!-- /ko -->

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper,
    lectus quis eleifend tempor, ante sapien malesuada est, id hendrerit nibh
    quam id nisi. Mauris mollis et nisi nec molestie. Nam aliquam massa nec
    consequat sagittis. Vestibulum non viverra mauris, eu ultrices magna. Nulla
    et pretium orci. Proin eleifend tristique turpis sed imperdiet. Morbi aliquam
    leo at urna porta, vel vehicula risus ultrices. Phasellus augue sapien,
    consectetur eleifend mauris ornare, lacinia facilisis diam.
</p>